Jerod-Brackin-n8n-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "When the user asks about products (e.g. listing products or counting products), ALWAYS call the relevant HTTP tool. Never respond from memory or ask follow-up questions unless required parameters are missing.",
        "availableInChat": true,
        "agentIcon": {
          "type": "icon",
          "value": "flask-conical"
        },
        "agentName": "Product Inventory Bot",
        "agentDescription": "Flask Inventory Agent",
        "suggestedPrompts": {
          "prompts": [
            {
              "text": "You are an inventory assistant connected to a Flask API and PostgreSQL database.  Your job is to answer questions about product inventory using real data only.  RULES: - ALWAYS use tools when the question involves products, counts, stock, or inventory. - NEVER guess or hallucinate numbers. - If you need product data, call the appropriate tool. - Respond in clear, natural English. - Do not mention tools or internal system details in your response.  Available tools: - get_product_count → returns total number of products"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        -48
      ],
      "id": "019d1a27-437e-4409-bb55-cdedb23abad9",
      "name": "When chat message received",
      "webhookId": "1c29803a-be0e-4edc-8b5c-6da9de4fc5fb",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "notesInFlow": true,
      "notes": "Inventory AI agent connected to Flask + PostgreSQL via ngrok"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        -144
      ],
      "id": "9eb33538-d770-4aa0-8ad2-f6a421478417",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        80
      ],
      "id": "7fe04183-9aed-4162-996a-76b08fc9de70",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZwD0OI7mAMmtio2W",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "url": "https://capstone-jerod-brackin.pathway4.click/products",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        352,
        80
      ],
      "id": "ef3bd4e9-4b07-4734-a0e9-89b80c91fc49",
      "name": "Get All Producsts HTTP Request"
    },
    {
      "parameters": {
        "url": "https://capstone-jerod-brackin.pathway4.click/products/count",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        480,
        80
      ],
      "id": "dc571131-036b-4400-a333-34731104a695",
      "name": "Count Number of Products HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://capstone-jerod-brackin.pathway4.click/products/7",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        608,
        80
      ],
      "id": "79653c8b-9e4b-423c-95a6-d5f99c18d340",
      "name": "Get a Particular Product by ID HTTP Request"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP Put request and returns the response data",
        "method": "PUT",
        "url": "=https://capstone-jerod-brackin.pathway4.click/products/3",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{$json.name ?? ''}}\",\n  \"price\": \"{{$json.price ?? 0}}\",\n  \"quantity\": \"{{$json.quantity ?? 0}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        736,
        80
      ],
      "id": "c1997d67-238e-4ded-9248-e5637ed2b8db",
      "name": "Update a Particular Product by ID HTTP Request1"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP Post request and returns the response data",
        "method": "POST",
        "url": "=https://capstone-jerod-brackin.pathway4.click/products",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Radeon XT 7800 GPU\",\n  \"price\": 10,\n  \"quantity\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        864,
        80
      ],
      "id": "e25ee99f-3cc6-4304-adc7-c71fd2e71134",
      "name": "Post a Particular Product by ID HTTP Request"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP Delete request and returns the response data",
        "method": "DELETE",
        "url": "=https://capstone-jerod-brackin.pathway4.click/products/3",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Radeon XT 7800 GPU\",\n  \"price\": 10,\n  \"quantity\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        992,
        80
      ],
      "id": "fc3cc96b-d23c-48b1-9938-954616728df5",
      "name": "Delete a Particular Product by ID HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bc6451f5-95b5-458d-9a76-4a27d1ce12ea",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -240
      ],
      "id": "5b2a2f81-df8c-4473-8f06-a029426b706c",
      "name": "Webhook",
      "webhookId": "8064dd47-622e-4cbc-a531-5d70cfa3db8f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "message",
              "value": "=Token Usage:\n- Prompt Tokens: {{ $json.usage.promptTokens }}\n- Completion Tokens: {{ $json.usage.completionTokens }}\n- Total Tokens: {{ $json.usage.totalTokens }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "aa830a88-f7b4-4d9a-a0c3-e347ecb24642",
      "name": "Show Token Usage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get All Producsts HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Count Number of Products HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a Particular Product by ID HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a Particular Product by ID HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post a Particular Product by ID HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a Particular Product by ID HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Show Token Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3e139186-bf64-4f85-818c-e0325a7c88f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b66c5f67298ad4aa863cf772519ca365f9f54c88c58aa082255cb209b7588247"
  },
  "id": "7Eth4DmRPZgk7Xyh",
  "tags": []
}