Jerod-Brackin-n8n-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "availableInChat": true,
        "agentIcon": {
          "type": "icon",
          "value": "flask-conical"
        },
        "agentName": "Product Inventory Bot",
        "agentDescription": "Flask Inventory Agent",
        "suggestedPrompts": {
          "prompts": [
            {
              "icon": {
                "type": "icon",
                "value": "share"
              },
              "text": "You are an inventory assistant connected to a Flask API and PostgreSQL database.  Your job is to answer questions about product inventory using real data only.  RULES: - ALWAYS use tools when the question involves products, counts, stock, or inventory. - NEVER guess or hallucinate numbers. - If you need product data, call the appropriate tool. - Respond in clear, natural English. - Do not mention tools or internal system details in your response.  Available tools: - get_product_count → returns total number of products"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -304,
        -144
      ],
      "id": "019d1a27-437e-4409-bb55-cdedb23abad9",
      "name": "When chat message received",
      "webhookId": "1c29803a-be0e-4edc-8b5c-6da9de4fc5fb",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "notesInFlow": true,
      "notes": "Inventory AI agent connected to Flask + PostgreSQL via ngrok"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        -144
      ],
      "id": "9eb33538-d770-4aa0-8ad2-f6a421478417",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        80
      ],
      "id": "7fe04183-9aed-4162-996a-76b08fc9de70",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZwD0OI7mAMmtio2W",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "url": "https://capstone-jerod-brackin.pathway4.click/products",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        352,
        80
      ],
      "id": "ef3bd4e9-4b07-4734-a0e9-89b80c91fc49",
      "name": "Get All Producsts HTTP Request"
    },
    {
      "parameters": {
        "url": "https://capstone-jerod-brackin.pathway4.click/products/count",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        480,
        80
      ],
      "id": "dc571131-036b-4400-a333-34731104a695",
      "name": "Count Number of Products HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://capstone-jerod-brackin.pathway4.click/products/7",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        608,
        80
      ],
      "id": "79653c8b-9e4b-423c-95a6-d5f99c18d340",
      "name": "Get a Particular Product by ID HTTP Request"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP Put request and returns the response data",
        "method": "PUT",
        "url": "=https://capstone-jerod-brackin.pathway4.click/products/3",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{$json.name ?? ''}}\",\n  \"price\": \"{{$json.price ?? 0}}\",\n  \"quantity\": \"{{$json.quantity ?? 0}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        736,
        80
      ],
      "id": "c1997d67-238e-4ded-9248-e5637ed2b8db",
      "name": "Update a Particular Product by ID HTTP Request1"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP Post request and returns the response data",
        "method": "POST",
        "url": "=https://capstone-jerod-brackin.pathway4.click/products",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Radeon XT 7800 GPU\",\n  \"price\": 10,\n  \"quantity\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        864,
        80
      ],
      "id": "e25ee99f-3cc6-4304-adc7-c71fd2e71134",
      "name": "Post a Particular Product by ID HTTP Request"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP Delete request and returns the response data",
        "method": "DELETE",
        "url": "=https://capstone-jerod-brackin.pathway4.click/products/3",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Radeon XT 7800 GPU\",\n  \"price\": 10,\n  \"quantity\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        992,
        80
      ],
      "id": "fc3cc96b-d23c-48b1-9938-954616728df5",
      "name": "Delete a Particular Product by ID HTTP Request"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "price": 0,
            "quantity": 0,
            "name": "pc"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        688,
        -48
      ],
      "id": "5449ba61-5245-4c9e-ae3c-28bab27a7c5d",
      "name": "Insert rows in a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "8EM574Cw5rGjDerc",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get All Producsts HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Count Number of Products HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a Particular Product by ID HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a Particular Product by ID HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post a Particular Product by ID HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a Particular Product by ID HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Insert rows in a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6379a235-4d5e-448e-9d87-78f188f5a722",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b66c5f67298ad4aa863cf772519ca365f9f54c88c58aa082255cb209b7588247"
  },
  "id": "7Eth4DmRPZgk7Xyh",
  "tags": []
}